<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash-message-container" class="text-right" style="display: none"></div>
    <%= yield %>
    <div id="common-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </body>

</html>
